:root {
    // style
    --switch-width: 50px;
    --switch-height: 25px;
    --switch-padding: 3px;

    // animation
    --switch-animation-duration: 0.2s;
}

.switch {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    position: relative;

    padding: var(--switch-padding) 0;

    @include w-h(var(--switch-width), var(--switch-height));
    @include border(0, 50em);

    &__input,
    &__label {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__input {
        opacity: 0;
        pointer-events: none;

        @include w-h(0);

        &:checked + .switch__label {
            background-color: var(--color-bg-accent);
        }

        &:checked + .switch__label + .switch__marker {
            left: calc(100% - var(--switch-height) + var(--switch-padding));
        }
    }

    &__label {
        z-index: 1;
        background-color: var(--color-bg-light);

        transition: background-color var(--switch-animation-duration);

        @include w-h(100%);
        @include border(0, inherit);
    }

    &__marker {
        position: relative;
        left: var(--switch-padding);
        z-index: 2;

        pointer-events: none;

        background-color: var(--color-bg-point);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

        transition: left var(--switch-animation-duration);
        will-change: left;

        @include w-h(calc(var(--switch-height) - var(--switch-padding) * 2));
        @include border(0, 50%);
    }
}
