.task-list {
    width: 70%;
    max-width: 1024px;

    text-align: start;

    @media screen and (max-width: 480px) {
        width: 100%;
        padding-left: var(--space-xxl);
        padding-right: var(--space-s);
    }

    &__title {
        padding: var(--space-l) 0;

        font-weight: 400;
        font-size: var(--text-l);
    }

    &__task {
        padding: var(--space-xs) 0;
        font-size: var(--text-s);
        list-style: circle;
    }
}
