.task-list {
    text-align: start;

    &__form {
        padding: var(--space-l) 0;
    }

    &__title {
        padding-top: var(--space-l);

        font-weight: 400;
        font-size: var(--text-l);
    }

    &__task {
        padding: var(--space-xs) 0;
        font-size: var(--text-s);
        list-style: none;

        &_line-through {
            text-decoration: line-through;
        }
    }

    &__checkbox {
        margin: 0 var(--space-s);
    }

    &__remove-btn {
        margin: 0 var(--space-s);
        border: 0;

        font-size: var(--text-s);
        color: var(--color-text-secondary);

        cursor: pointer;

        @include w-h(30px);

        &:hover,
        &:focus {
            color: var(--color-text-accent);
        }
    }
}

.form {

    &__input {
        max-width: 250px;

        margin: var(--space-xs);
        padding: var(--space-xs) var(--space-m);
        border: 1px solid var(--color-text-primary);
        border-radius: 5px;

        font-size: var(--text-s);

        &:hover,
        &:focus {
            border-color: var(--color-bg-border);
        }
    }

    &__submit {
        width: 80px;

        margin: var(--space-xs);
        padding: var(--space-xs) var(--space-m);

        font-size: var(--text-s);
        color: var(--color-text-secondary);

        cursor: pointer;

        @include border(2px, 50em);

        &:hover,
        &:active {
            color: var(--color-text-primary);
            border-color: var(--color-bg-accent);
            box-shadow: 0 0 10px var(--color-bg-shadow);
        }
    }
}
