.timer {
    @extend %flex-column;
    justify-content: center;
    align-self: center;

    @include w-h(300px);
    @include border(0px, 50%);
    padding: var(--space-s);

    font-family: var(--font-timer);

    cursor: pointer;

    @media screen and (max-width: 480px) {
        @include w-h(270px);
    }

    &__border {
        align-self: center;
        box-sizing: content-box;
    
        @include w-h(300px);
        @include border(0px, 50%);
        @include gradient(var(--color-gradient-dark), var(--color-gradient-light));
    
        padding: var(--space-xs);

        transition: transform .25s ease-in;

        @media screen and (max-width: 480px) {
            @include w-h(270px);
        }

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 20px var(--color-bg-shadow);
        }
    }

    &__time {
        @extend %margin-auto;
        padding-bottom: var(--space-s);
    
        font-size: var(--text-xl);
    }

    &__control {
        @extend %margin-auto;
    
        font-size: var(--text-s);
        color: var(--color-text-secondary);
    }

    &__break-btn {
        align-self: center;
        margin-top: var(--space-xxl);

        @media screen and (max-width: 480px) {
            display: flex;
            flex-flow: column wrap;
            margin-top: var(--space-xl);
        }
    }
}

.timer:hover .timer_focus,
.timer_cancel:hover {
    color: var(--color-text-accent);
}
