.timer {
    justify-content: center;
    align-self: center;
    
    border-radius: 50%;
    padding: var(--space-s);

    font-family: var(--font-timer);

    cursor: pointer;

    @extend %flex-column;

    @include w-h(300px);

    @media screen and (max-width: 480px) {
        @include w-h(270px);
    }

    &__border {
        align-self: center;
        box-sizing: content-box;

        border-radius: 50%;
        padding: var(--space-xs);

        background-color: var(--color-accent);

        @include w-h(300px);

        @media screen and (max-width: 480px) {
            @include w-h(270px);
        }

        &:hover,
        &:active {
            box-shadow: 0 0 15px var(--color-bg-shadow);
            background-color: var(--color-accent-hover);
        }
    }

    &__time {
        padding-bottom: var(--space-s);

        font-size: var(--text-xl);

        @extend %margin-auto;
    }

    &__control {
        border: 0;

        font-size: var(--text-s);
        line-height: 1.2;
        
        color: var(--color-text-secondary);

        cursor: pointer;

        @extend %margin-auto;
    }

    &__break-btn {
        align-self: center;
        margin-top: var(--space-xxl);

        @media screen and (max-width: 480px) {
            display: flex;
            flex-flow: column wrap;
            margin-top: var(--space-xl);
        }
    }
}

.timer:hover .timer_focus,
.timer_cancel:hover,
.timer__control:focus {
    color: var(--color-accent-hover);
}
