.footer {

    &__autor {
        font-size: var(--text-xs);
        color: var(--color-text-secondary);
    }

    &__link {
        text-decoration: none;
        color: var(--color-text-link);

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}
