.footer {
    
    &__autor {
        font-size: var(--text-xs);
        color: var(--color-text-secondary);
    }

    &__link {
        cursor: pointer;
        touch-action: manipulation;

        text-decoration-skip-ink: auto;
        text-underline-offset: 2px;
        color: var(--color-accent);

        &:hover {
            color: var(--color-accent-hover);
        }
    }
}
