.break-btn {
    width: 150px;

    margin: var(--space-s) var(--space-l);
    padding: var(--space-xs) var(--space-m);

    font-family: var(--font-primary);
    font-size: var(--text-m);
    font-weight: 300;

    color: var(-color-text-secondary);

    cursor: pointer;

    transition: transform 0.2s ease-in;

    @include border(2px, 50em);

    @media screen and (max-width: 480px) {
        margin: var(--space-s) 0;
    }

    &:hover,
    &:active {
        transform: scale(1.02);

        color: var(--color-text-primary);
        border-color: var(--color-bg-accent);
        box-shadow: 0 0 10px var(--color-bg-shadow);
    }
}
