.break-btn {
    width: 160px;

    margin: 0 var(--space-m);
    padding: var(--space-xs) 0;

    border-width: 0;
    border-radius: 25em;

    font-weight: 400;
    font-size: var(--text-s);

    color: var(--color-bg-default);
    background-color: var(--color-accent);

    cursor: pointer;

    @media screen and (max-width: 480px) {
        margin: var(--space-xs) 0;
    }

    &:hover,
    &:active {
        background-color: var(--color-accent-hover);
    }
}
