// sass src/index.scss src/main2.css

@import 'scss/variables';
@import 'scss/mixinTemplate';

@import 'blocks/page/page';
@import 'blocks/header/header';
@import 'blocks/timer/timer';
@import 'blocks/break-btn/break-btn';
@import 'blocks/task-list/task-list';
@import 'blocks/footer/footer';

@import 'scss/media';

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: $text;
    background: $background;
}

html {
    font-size: 12px;
}
