.timer__control, .timer__time, .page__task-list, .page__timer {
  margin: 0 auto;
}

.timer, .page__timer {
  display: flex;
  flex-flow: column wrap;
}

.page__timer {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.page {
  width: 100%;
  height: 100hv;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
}
.page__timer {
  width: 70%;
  height: auto;
  max-width: 1024px;
  padding: 90px 10px 60px;
  border-bottom: 1.5px solid #eee;
  border-top: 1.5px solid #eee;
}
.page__task-list {
  padding: 0 50px;
}
.page__footer {
  padding: 50px 10px;
}

.header {
  width: 100%;
  height: auto;
  padding: 20px 10px;
}
.header__title {
  font-weight: 400;
  font-size: 6rem;
}

.timer {
  justify-content: center;
  align-self: center;
  width: 300px;
  height: 300px;
  border-width: 0px;
  border-style: solid;
  border-color: #669DFF;
  border-radius: 50%;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}
.timer__border {
  align-self: center;
  box-sizing: content-box;
  width: 300px;
  height: 300px;
  border-width: 0px;
  border-style: solid;
  border-color: #669DFF;
  border-radius: 50%;
  background-color: #3993E5;
  background-image: linear-gradient(60deg, #3993E5 0%, #8373E5 100%);
  padding: 5px;
}
.timer__time {
  padding-bottom: 10px;
  font-size: 5rem;
}
.timer__control {
  font-size: 1.8rem;
  color: #bbb;
}
.timer__break-btn {
  align-self: center;
  margin-top: 50px;
}

.break-btn__short, .break-btn__long {
  width: 160px;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: #669DFF;
  border-radius: 30px;
  margin: 10px 20px;
  padding: 5px 15px;
  font-size: 2rem;
  color: #bbb;
  cursor: pointer;
}

.task-list {
  width: 70%;
  height: auto;
  max-width: 1024px;
  text-align: start;
}
.task-list__title {
  padding: 20px 0;
  font-weight: 400;
  font-size: 3rem;
}
.task-list__task {
  padding: 5px 0;
  font-size: 1.8rem;
  list-style: circle;
}

.footer {
  width: 100%;
  height: auto;
}
.footer__autor {
  font-size: 1.5rem;
  color: #bbb;
}
.footer__link {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .header {
    padding: 10px;
  }
  .header__title {
    font-size: 5.2rem;
  }

  .page__timer {
    width: 100%;
    height: auto;
    padding: 50px 10px 30px;
  }

  .timer {
    width: 250px;
    height: 250px;
  }
  .timer__border {
    width: 250px;
    height: 250px;
  }
  .timer__time {
    font-size: 5rem;
  }
  .timer__control {
    font-size: 1.6rem;
  }
  .timer__break-btn {
    display: flex;
    flex-flow: column wrap;
    margin-top: 30px;
  }

  .break-btn__short,
.break-btn__long {
    width: 150px;
    height: auto;
    margin: 10px 0;
    font-size: 1.8rem;
  }

  .task-list {
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-right: 10px;
  }
  .task-list__title {
    font-size: 2.8rem;
  }
  .task-list__task {
    font-size: 1.6rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #eee;
  background: #202030;
}

html {
  font-size: 12px;
}

/*# sourceMappingURL=main2.css.map */
