.timer__border {
    transition: .25s ease-in;
}

.timer__border:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px $shadow;
}

.timer:hover .timer_focus,
.timer_cancel:hover {
    color: $text-hover;
}

.break-btn_type_short,
.break-btn_type_long {
    transition: .25s ease-in;
}

.break-btn_type_short:hover,
.break-btn_type_long:hover {
    transform: scale(1.02);

    color: $text;
    border-color: $border-hover;
    box-shadow: 0 0 10px $shadow;
}

.footer__link:hover {
    color: $text-hover;
}