@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
    .header {
        padding: 10px;
        &__title {
            font-size: 5.2rem;
        }
    }

    .page__timer {
        @include w-h(100%);
        padding: 50px 10px 30px;
    }

    .timer {
        @include w-h(250px, 250px);
        &__border {
            @include w-h(250px, 250px);
        }
        &__time {
            font-size: 5rem;
        }
        &__control {
            font-size: 1.6rem;
        }
        &__break-btn {
            display: flex;
            flex-flow: column wrap;
            margin-top: 30px;
        }
    }

    .break-btn__short,
    .break-btn__long {
        @include w-h(150px);
        margin: 10px 0;
        font-size: 1.8rem;
    }

    .task-list {
        @include w-h(100%);
        padding-left: 50px;
        padding-right: 10px;

        &__title {
            font-size: 2.8rem;
        }
        &__task {
            font-size: 1.6rem; 
        }
    }
}