@mixin w-h($width, $height: $width) {
    width: $width;
    height: $height;
}

%margin-auto {
    margin: 0 auto;
}

%flex-column {
    display: flex;
    flex-flow: column wrap;
}

%user-select {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
