@mixin w-h($width: auto, $height: auto) {
    width: $width;
	height: $height;
}

@mixin border($size, $radius) {
    border: {
        width: $size;
        style: solid;
        color: var(--color-bg-border);
        radius: $radius;
    }
}

@mixin gradient($color1, $color2) {
    background-color:$color1;
    background-image: linear-gradient(60deg, $color1 0%, $color2 100%);
}

%margin-auto {
    margin: 0 auto;
}

%flex-column {
    display: flex;
    flex-flow: column wrap;
}

%user-select {
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}