:root {
    // font family
    --font-primary: 'Rubik', sans-serif;
    --font-timer: 'Roboto Mono', monospace;

    // font size
    --text-xs: 1rem;
    --text-s: 1.25rem;
    --text-m: 2.5rem;
    --text-l: 3.75rem;

    // space
    --space-xs: 0.5rem;
    --space-s: 1rem;
    --space-m: 1.25rem;
    --space-l: 2rem;
    --space-xl: 3rem;

    // color
    --color-accent: #8776ef;
    --color-accent-hover: #a295f3;

    --color-text-primary: #f1f6fb;
    --color-text-secondary: #d4dade;

    --color-bg-default: #1a2026;
    --color-bg-shadow: #2f3640;
}

.theme_light {
    --color-accent: #6851f0;
    --color-accent-hover: #503eb6;

    --color-text-primary: #1a2026;
    --color-text-secondary: #2f3640;

    --color-bg-default: #f1f6fb;
    --color-bg-shadow: #d4dade;
}
