:root {
    // font family
    --font-primary: 'Rubik', sans-serif;
    --font-timer: 'Roboto Mono', monospace;

    // font size
    --text-base: 12px;

    --text-xs: calc(1.5 * var(--text-base));
    --text-s: calc(1.8 * var(--text-base));
    --text-m: calc(2 * var(--text-base));
    --text-l: calc(3 * var(--text-base));
    --text-xl: calc(5 * var(--text-base));

    // space
    --space-xs: 5px;
    --space-s: 10px;
    --space-m: 15px;
    --space-l: 20px;
    --space-xl: 30px;
    --space-xxl: 50px;

    // color
    --color-accent: #8776ef;
    --color-accent-hover: #a295f3;

    --color-text-primary: #f1f6fb;
    --color-text-secondary: #d4dade;

    --color-bg-default: #1a2026;
    --color-bg-shadow: #2f3640;
}

.theme_light {

    --color-accent: #6851f0;
    --color-accent-hover: #503eb6;

    --color-text-primary: #1a2026;
    --color-text-secondary: #2f3640;

    --color-bg-default: #f1f6fb;
    --color-bg-shadow: #d4dade;
}
