$text: #eee;
$text-info: #bbb;

$background: #202030;
$shadow: #404050;

$border: #669DFF;
$border-hover: #80AEFF;
$text-hover: #8EC5FC;

$grad-timer1: #3993E5;
$grad-timer2: #8373E5;

// $grad-btn1: #648099;
// $grad-btn2: #8E7DB2;

// light theme

// $text: #333;
// $text-secondary: #444;
// $text-info: #666;

// $background: #f7f8F9;