// sass --watch src/scss:src

@import 'variables';
@import 'mixinTemplate';

@import 'timer';
@import 'taskList';
@import 'effects';

@import 'media';

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: $text;
    background: $background;
}

html {
    font-size: 12px;
}

body {
    @include w-h(100%, 100hv);

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;

    text-align: center;
    line-height: 1.2;
}

/* -----header----- */
.header {
    @include w-h(100%);
    padding: 20px 10px;

    &__title {   
        font-weight: 400;
        font-size: 6rem;
    }
}

/* -----footer----- */
.footer {
    @include w-h(100%);
    padding: 50px 10px;

    &__autor {
        font-size: 1.5rem;
        color: $text-info;
    }

    &__link {
        text-decoration: none;
    }
}
