.header {
    padding: var(--space-m) var(--space-xs);

    @extend %flex-column;

    @media screen and (max-width: 480px) {
        padding: var(--space-xs);
    }

    &__title {
        font-weight: 400;
        font-size: var(--text-l);
    }

    &__theme-switch {
        align-self: flex-end;

        margin-top: calc(-1 * var(--switch-size));

        @media screen and (max-width: 375px) {
            margin-top: 0;
        }
    }
}
