.header {
    @include w-h(100%);
    padding: var(--space-l) var(--space-s);

    @media screen and (max-width: 480px) {
        padding: var(--space-s);
    }

    &__title {   
        font-weight: 400;
        font-size: var(--text-xxl);
    }
}
